@{
    ViewBag.Title = "Confirmacion de correo exitosa";
    Layout = "_Layout";
}
<div class="text-center m-2">
    <div class="flex justify-center"><img width="300px" height="auto" src="~/Assets/nonicotine.jpg" /></div>
 <h1 class="text-center text-lg font-bold">Tu correo fue activado satisfactoriamente!!</h1>
</div>