@{
    ViewBag.Title = "Password reset success";
    Layout = "_Layout";
}
@{
    ViewBag.Title = "Confirmacion de correo exitosa";
    Layout = "_Layout";
}
<div class="text-center m-2">
    <div class="flex justify-center"><img width="300px" height="auto" src="~/Assets/nonicotine.jpg" /></div>
    <h1>Password reset was successful!!</h1>
</div>
